<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.axinger.auth.db.mapper.SysPermissionsMapper">

    <resultMap id="BaseResultMap" type="com.github.axinger.auth.db.entity.SysPermissionsEntity">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="code" column="code" />
            <result property="description" column="description" />
            <result property="category" column="category" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="version" column="version" />
            <result property="deleted" column="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,code,description,category,create_time,
        update_time,version,deleted
    </sql>
</mapper>
